.sair {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 25px;
  }
  
  .sair a {
  font-size: 22px;
  font-weight: 700;
  font-family: 'InterRegular';
  color: black;
  }
  
  .sair a:hover{
    color: black;
  }
  
  .sair img {
  width: 30px;
  margin-right: 5px;
  }
  
  .perfil {
    display: flex;
  }
  
  .perfil .perfil-seta{
      padding: 10px;
      margin-left: 30%;
  }
  
  .perfil-imagem img {
    max-width: 50px;
  }
  
  .perfil-usuario{
      margin-left: 5%;
      display: flex;
      align-items: center;
      flex-direction: column;
  }
  
  .perfil-usuario .perfil-nome p {
    margin: 0;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: black;
  }
  
  .perfil-usuario .perfil-apelido p {
    margin: 0;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #6b6565;
  }
  
  
  
  
  
  .accordion-item, .accordion-header, .accordion-button{
    background: #fff!important;
  }
  
  
  /*-------------------------- MODAL SAIR DA CONTA ---------------------------------------*/
  
  .modal-dialog .modal-footer .btn-primary {
    background: #664187!important;
    border: 0;
  }
  
  .modal-dialog .modal-footer .btn-secondary{
    background: rgb(214, 37, 37)!important;
    border: 0;
  }
  
  .modal-dialog .modal-body b{
    color: rgb(214, 37, 37);
  }
  
  .modal-dialog{
    padding: 2rem!important;
    
  }
  
  
  .modal-footer {
    justify-content: space-between!important;
  }