@font-face {
	font-family: 'AsapRegular';
	src: url('../fonts/Asap-Regular.ttf');
}

@font-face {
	font-family: 'AsapBold';
	src: url('../fonts/Asap-Bold.ttf');
}

@font-face {
	font-family: 'InterRegular';
	src: url('../fonts/Inter-Regular.ttf');
}

@font-face {
	font-family: 'InterBold';
	src: url('../fonts/Inter-Bold.ttf');
}

@font-face {
	font-family: 'Poppins';
	src: url('../fonts/Poppins-Regular.ttf');
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Regular.ttf');
}

a {
	text-decoration: none !important;
	color: unset;
}
a:focus {
	background-color: unset;
}

body {
	background-color: #fff;
	overflow: hidden;
}

.d-flex {
	overflow: hidden;
}

.div-logo-marca {
	width: 100vw;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.div-logo-marca .logo-marca img {
	height: 35px;
	width: 35px;
}

/*-------------- SIDEBAR ---------------*/
.sidebar {
	display: flex;
	justify-content: center;
	width: 300px;
	background-color: #fff !important;

	position: fixed;
	height: 100%;
	box-sizing: border-box;
}

.list-group {
	--bs-list-group-color: var(--bs-body-color);
	--bs-list-group-bg: var(--bs-body-bg);
	--bs-list-group-border-color: var(--bs-border-color);
	--bs-list-group-border-width: var(--bs-border-width);
	--bs-list-group-border-radius: var(--bs-border-radius);
	--bs-list-group-item-padding-x: 1rem;
	--bs-list-group-item-padding-y: 0.5rem;
	--bs-list-group-action-color: var(--bs-secondary-color);
	--bs-list-group-action-hover-color: var(--bs-emphasis-color);
	--bs-list-group-action-hover-bg: var(--bs-tertiary-bg);
	--bs-list-group-action-active-color: var(--bs-body-color);
	--bs-list-group-action-active-bg: var(--bs-secondary-bg);
	--bs-list-group-disabled-color: var(--bs-secondary-color);
	--bs-list-group-disabled-bg: var(--bs-body-bg);
	--bs-list-group-active-color: #fff;
	--bs-list-group-active-bg: #0d6efd;
	--bs-list-group-active-border-color: #0d6efd;
	display: flex;
	flex-direction: column;
	padding-left: 0;
	margin-bottom: 0;
	border-radius: var(--bs-list-group-border-radius);
}

.sidebar .sidebar-box .list-group-box .list-group-item {
	background-color: transparent !important;
	border: 0 !important;
}

.logos h1 {
	font-family: 'InterBold';
	color: #664187;
	margin: 0;
}

.sidebar .sidebar-box {
	margin-top: 25px !important;
}

.sidebar .sidebar-box .list-group-box button {
	background-color: transparent;
	border: 0 !important;
	font-family: 'InterRegular';
	font-style: normal;
	font-weight: 800;
	font-size: 0.9rem;
	line-height: 18px;
	cursor: pointer;
	color: #202024;
	width: 260px;
	height: 44px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding-right: 10px;
	padding-left: 50px;
	background-repeat: no-repeat;
	background-position-y: center;
	background-position-x: 15px;
	border-radius: 15px;
}

.sair {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	bottom: 50px;
}

.sair a {
	font-size: 22px;
	font-weight: 700;
	font-family: 'InterRegular';
}

.sair img {
	width: 30px;
	margin-right: 5px;
}

#eventos {
	background-image: url('../img/icone-calendario.png');
}

#eventos:hover {
	background-image: url('../img/icon-calendario-branco.svg');
}

#inicio {
	background-image: url('../img/icone-home.png');
}

#inicio:hover {
	background-image: url('../img/icon-home-branco.svg');
}

#descobrir {
	background-image: url('../img/icone-descobrir.png');
}

#descobrir:hover {
	background-image: url('../img/icon-pesquisar-branco.svg');
}

#notificacoes {
	background-image: url('../img/icone-notificacao.png');
}

#notificacoes:hover {
	background-image: url('../img/icon-notificacao-branco.svg');
}

#configuracoes {
	background-image: url('../img/icone-configuracoes.png');
}

#configuracoes:hover {
	background-image: url('../img/icon-configuracoes-branco.svg');
}

#amigos {
	background-image: url('../img/icone-pessoa.png');
}

#amigos:hover {
	background-image: url('../img/icon-pessoa-branco.svg');
}

#nova-pub {
	background-image: url('../img/icone-pincel.png');
}

.nova-pub {
	margin-top: 15px;
}

.nova-pub .btn-nova-pub {
	width: 267px;
	height: 41.22px;
	background-color: #664187;
	box-shadow: 5.37636px 5.37636px 5.37636px rgba(0, 0, 0, 0.25);
	border-radius: 11.6113px;
	border: 0;
	font-weight: 600;
	font-size: 0.8rem;
	line-height: 18px;
	font-family: 'InterRegular';
	background-repeat: no-repeat;
	background-position-y: center;
	background-position-x: 15px;
	border-radius: 15px;
}

.nova-pub #nova-pub:hover {
	background-color: #5e3086;
	color: #dbdbdb;
}

.list-group-box button:hover {
	background-color: #664187 !important;
	color: #ffffff !important;
}

.list-group-box button img:hover {
	background-color: #664187 !important;
	color: #ffffff !important;
}

.custom-btn-item:hover {
	background-color: #664187 !important;
}

.nova-pub #nova-pub:hover {
	background-color: #5e3086;
	color: #dbdbdb;
}

.btn-sair {
	height: auto;
	width: 100%;
	background-color: none !important;
	font-family: 'InterBold';
	cursor: pointer;
}

.btn-sair h1 {
	font-weight: 600;
	font-size: 1.4rem;
	color: #202024;
	margin: 0;
	padding-left: 10px;
}

.btn-sair img {
	width: 32px;
	height: 32px;
}

/*BTN PERFIL E SAIR*/

.table_center {
	display: table-cell;
	vertical-align: middle;
}

.dropdown-menu {
	--bs-dropdown-link-active-color: #000;
	--bs-dropdown-link-active-bg: unset;
}

.drop-down {
	display: inline-block;
	position: relative;
}

.drop-down__button {
	background: blue;
	display: inline-block;
	line-height: 40px;
	padding: 0 18px;
	text-align: left;
	border-radius: 4px;
	box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.2);
	cursor: pointer;
}

.drop-down__name {
	font-size: 9px;
	text-transform: uppercase;
	color: #fff;
	font-weight: 800;
	letter-spacing: 2px;
}

.drop-down__icon {
	width: 18px;
	vertical-align: middle;
	margin-left: 14px;
	height: 18px;
	border-radius: 50%;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	-ms-transition: all 0.4s;
	-o-transition: all 0.4s;
}

.drop-down__menu-box {
	position: absolute;
	width: 100%;
	left: 0;
	background-color: #fff;
	border-radius: 4px;
	box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2);
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	visibility: hidden;
	opacity: 0;
	margin-top: 5px;
}

.drop-down__menu {
	margin: 0;
	padding: 0 13px;
	list-style: none;
}

.drop-down__menu-box:before {
	content: '';
	background-color: transparent;
	border-right: 8px solid transparent;
	position: absolute;
	border-left: 8px solid transparent;
	border-bottom: 8px solid #fff;
	border-top: 8px solid transparent;
	top: -15px;
	right: 18px;
}

.drop-down__menu-box:after {
	content: '';
	background-color: transparent;
}

.drop-down__item {
	font-size: 13px;
	padding: 13px 0;
	text-align: left;
	font-weight: 500;
	color: #909dc2;
	cursor: pointer;
	position: relative;
	border-bottom: 1px solid #e0e2e9;
}

.drop-down__item-icon {
	width: 15px;
	height: 15px;
	position: absolute;
	right: 0px;
	fill: #8995b6;
}

.drop-down__item:hover .drop-down__item-icon {
	fill: #3d6def;
}

.drop-down__item:hover {
	color: #3d6def;
}

.drop-down__item:last-of-type {
	border-bottom: 0;
}

.drop-down--active .drop-down__menu-box {
	visibility: visible;
	opacity: 1;
	margin-top: 15px;
}

.drop-down__item:before {
	content: '';
	position: absolute;
	width: 3px;
	height: 28px;
	background-color: #3d6def;
	left: -13px;
	top: 50%;
	transform: translateY(-50%);
	display: none;
}

.drop-down__item:hover:before {
	display: block;
}

.dropup,
.menu-container {
	position: absolute;
	bottom: 60px;
	cursor: pointer;
}

.btn-perfil-sair {
	width: 225px;
	height: 80px;
	background: #ffffff;
	border-radius: 15px;
	display: flex;
	align-items: center;
	cursor: pointer;
	justify-content: space-around;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn-perfil-sair h1 {
	font-size: 20px;
	font-family: 'Roboto';
	font-weight: 700;
}

.btn-perfil-sair h3 {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	color: #6b6565;
}

.img-perfil-btn {
	padding-left: 10px;
	width: 40%;
}

.btn-perfil-sair img {
	cursor: pointer;
}

.btn-perfil-sair .img-perfil-btn img {
	width: 100%;
	border-radius: 50%;
	max-width: 60px;
	max-height: 60px;
	border: solid;
	border-color: #fff;
	border-width: 2.5px;
	border-radius: 50%;
	object-fit: cover;
	box-shadow: 2px 2px 5px rgb(0 0 0 / 30%);
	transition: 0.25s;
}

.desc-btn {
	display: flex;
	width: 100%;

	/* padding: 45px; */
	justify-content: space-evenly;
	align-items: center;
}

.desc-btn .btn {
	background-color: unset;
	border: 0;
}

.desc-btn .btn:focus {
	background-color: unset;
	border: 0;
}

/*--------------------------------- HEADER PERFIL ---------------------------------*/

.box-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 79%;
}

.container-fluid {
	width: 100%;
	height: auto;
}

.container-fluid .area-perfil {
	overflow: auto !important;
	background-color: #fff;
	padding: 25px;
	border-radius: 10px;
	height: 100vh;
	width: 100%;
}

.container-fluid .area-perfil .box-perfil {
	display: flex;
	flex-direction: column;
	margin-bottom: 5rem;
}

.container-fluid .area-perfil .box-perfil .area-bio {
	margin-left: 6.5rem;
	display: flex;
	justify-content: space-between;
}

.container-fluid .area-perfil .box-perfil .area-bio .bio > p {
	margin: 0;
	color: #664187;
	font-family: 'InterRegular';
	font-style: normal;
	font-weight: 700;
	font-size: 0.8rem;
	line-height: 23px;
	margin-bottom: -2px;
}

.container-fluid .area-perfil .informacao-perfil {
	display: inline-block;
	flex-direction: column;
	justify-content: space-around;
}

.container-fluid .area-perfil .papel-parede-img-perfil .papel-parede-img {
	width: 100%;
	height: 215px;
	z-index: -1;
	margin-bottom: 5px;
	border-radius: 8px;
	transition: 0.25s;
	cursor: pointer;
	object-fit: cover;
}

.papel-parede-img-perfil img:hover {
	filter: brightness(0.7);
}

.container-fluid .area-perfil .informacao-perfil .papel-parede-img-perfil {
	position: sticky;
}

.container-fluid
	.area-perfil
	.informacao-perfil
	.papel-parede-img-perfil
	.perfil-img {
	position: absolute;
	bottom: -1.7rem;
	width: 6rem;
	left: 0.3rem;
	border: solid;
	border-color: #fff;
	border-width: 2.5px;
	border-radius: 50%;
	object-fit: cover;
	box-shadow: 2px 2px 5px rgb(0 0 0 / 30%);
	transition: 0.25s;
	cursor: pointer;
	width: 100%;
	max-width: 6rem;
	max-height: 6rem;
	height: 6rem;
}

.container-fluid .area-perfil .informacao-perfil .desc-perfil {
	display: flex;
	flex-direction: row;
	margin-left: 6.5rem;
	/* margin-left: 3.5rem; */
	/* margin-right: 2px; */
	/* margin-bottom: -4px; */
	justify-content: flex-start;
}

.container-fluid
	.area-perfil
	.informacao-perfil
	.desc-perfil
	.seguindo-seguidores {
	display: flex;
	justify-content: space-around;
}

.container-fluid
	.area-perfil
	.informacao-perfil
	.desc-perfil
	.seguindo-seguidores
	.seguindo {
	margin-right: 20px;
}

.container-fluid
	.area-perfil
	.informacao-perfil
	.desc-perfil
	.seguindo-seguidores
	.seguindo
	.seguindo-numero
	> p {
	font-style: normal;
	font-size: small;
	font-weight: bold;
	margin: 2px;
}

.container-fluid
	.area-perfil
	.informacao-perfil
	.seguindo-seguidores
	.seguindo
	.seguindo-text
	> h1 {
	font-style: normal;
	font-weight: 600;
	font-size: 0.9rem;
}

.container-fluid
	.area-perfil
	.informacao-perfil
	.seguindo-seguidores
	.seguidores
	.seguidores-numero
	> p {
	font-style: normal;
	font-size: small;
	font-weight: bold;
	margin: 2px;
}

.container-fluid
	.area-perfil
	.informacao-perfil
	.seguindo-seguidores
	.seguidores
	.seguidores-text
	> h1 {
	font-style: normal;
	font-weight: 600;
	font-size: 0.9rem;
}

.container-fluid
	.area-perfil
	.informacao-perfil
	.div-btn-editar-perfil
	.btn-editar-perfil {
	background: #664187;
	border-radius: 12.3967px;
	border: none;
	color: #fff;
	font-family: 'InterRegular', sans-serif;
	font-size: 14px;
	text-align: center;
	line-height: 0.89rem;
	font-weight: 500;
	width: 115px;
	height: 40px;
}

.container-fluid
	.area-perfil
	.informacao-perfil
	.desc-perfil
	.div-btn-editar-perfil
	.btn-editar-perfil:hover {
	background-color: #815ba3;
	box-shadow: none;
}

.container-fluid .area-perfil .area-nick-nome {
	display: flex;
	flex-direction: row;
	margin-top: -6px;
	margin-left: -1px;
	margin-bottom: -8px;
}

.container-fluid .area-perfil .area-nick-nome .nick > h1 {
	font-size: calc(0.39rem + 1.5vw);
	margin-bottom: -0.5px;
	font-weight: bold;
	margin-right: 7px;
}

.container-fluid .area-perfil .area-nick-nome .nome > h1 {
	font-size: calc(0.39rem + 1.5vw);
	color: #5b5b5b;
}

/*------------------------------------- ATIVIDADE E EVENTO ----------------------------*/

.container-fluid .area-perfil .box-perfil .box-atividade-eventos {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
}

.container-fluid
	.area-perfil
	.box-perfil
	.box-atividade-eventos
	.titulo-atividade {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 100%;
	margin-top: -1rem;
	margin-bottom: 1.3rem;
}

.container-fluid
	.area-perfil
	.box-perfil
	.box-atividade-eventos
	.titulo-atividade
	> h1 {
	font-size: 1rem;
}

.container-fluid
	.area-perfil
	.box-perfil
	.box-atividade-eventos
	.box-atividade {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: auto;
}

.container-fluid
	.area-perfil
	.box-perfil
	.box-atividade-eventos
	.box-atividade
	.atividade {
	display: flex;
	flex-direction: column;
	background-color: #fff;
	position: relative;
	border-radius: 10px;
	margin-bottom: 25px;
	width: 60%;
	height: auto;
}

.box-img-atividade {
	padding: 0.8rem;
	width: 100%;
	height: 100%;
}

.img-atividade {
	width: 100%;
	height: 100%;
}

.fotoPerfil-nick {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	margin-left: 17px;
	margin-top: -5px;
}

.img-perfil-atividade {
	position: absolute;
	bottom: 0.1rem;
	width: 3rem;
	left: 0.3rem;
	border: solid;
	border-color: #fff;
	border-width: 2.5px;
	border-radius: 31px;
	box-shadow: 2px 2px 5px rgb(0 0 0 / 30%);
}

.nick-atividade {
	margin-left: -0.8rem;
}

.container-fluid
	.area-perfil
	.box-perfil
	.box-atividade-eventos
	.box-atividade
	.fotoPerfil-nick
	.nick-atividade
	> h1 {
	font-size: 0.8rem;
	margin-left: 3.1rem;
	font-weight: bold;
}

hr {
	color: #000 !important;
}

.container-fluid .area-perfil .box-perfil .box-atividade-eventos .criar-evento {
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin-bottom: 2%;
}

.container-fluid
	.area-perfil
	.box-perfil
	.box-atividade-eventos
	.btn-criar-evento
	> button {
	background: #664187;
	border-radius: 12.3967px;
	border: none;
	color: #fff;
	font-family: 'InterRegular', sans-serif;
	font-size: 14px;
	text-align: center;
	line-height: 0.89rem;
	font-weight: 500;
	width: 115px;
	height: 40px;
}

.container-fluid
	.area-perfil
	.box-perfil
	.box-atividade-eventos
	.titulo-box-evento {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	width: 100%;
}

.container-fluid
	.area-perfil
	.box-perfil
	.box-atividade-eventos
	.titulo-box-evento
	> h1 {
	font-size: 1rem;
}

.titulo-evento {
	color: #fff6f6;
	font-family: 'InterRegular';
	margin-bottom: 3rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.container-fluid .area-perfil .box-perfil .box-atividade-eventos .box-eventos {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

.container-fluid
	.area-perfil
	.box-perfil
	.box-atividade-eventos
	.box-eventos
	.evento {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background-color: #82bade;
	border-radius: 9px;
	width: 100%;
	height: 70%;
	padding: 15px;
	margin-bottom: 30px;
	box-shadow: 2px 2px 5px rgb(0 0 0 / 30%);
	transition: 0.5s;
}

.evento:hover {
	height: 10rem;
}

.container-fluid
	.area-perfil
	.box-perfil
	.box-atividade-eventos
	.box-eventos
	.evento
	.img-evento {
	width: 100%;
	height: 100%;
}

.container-fluid
	.area-perfil
	.box-perfil
	.box-atividade-eventos
	.box-eventos
	.evento
	.img-evento
	img {
	width: 12rem;
}

.container-fluid
	.area-perfil
	.box-perfil
	.box-atividade-eventos
	.box-eventos
	.evento
	.box-desc-evento {
	height: 100%;
	width: 100%;
	margin-left: 25px;
}

.container-fluid
	.area-perfil
	.box-perfil
	.box-atividade-eventos
	.box-eventos
	.evento
	.box-desc-evento
	.desc-evento {
	width: 100%;
	display: flex;
	height: 6rem;
	border-radius: 15px;
	align-items: start;
	background-color: #fff;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	padding-left: 10px;
	padding-top: 10px;
}

/*---------------------------------MODAL EVENTO----------------------------*/

.container-fluid
	.area-perfil
	.box-perfil
	.box-atividade-eventos
	.box-eventos
	.evento
	.box-desc-evento
	.desc-evento
	> h1 {
	font-size: 0.8rem;
	font-family: 'InterRegular';
	font-style: normal;
	font-weight: 700;
	line-height: 13px;
	color: #121214;
	margin-bottom: 1rem;
}

.container-fluid
	.area-perfil
	.box-perfil
	.box-atividade-eventos
	.box-eventos
	.evento
	.box-desc-evento
	.desc-evento
	> h2 {
	word-wrap: break-word;
	font-size: 0.65rem;
	font-family: 'InterRegular';
	font-style: normal;
	font-weight: bold;
	line-height: normal;
	color: #8c8c8c;
}

.mobile-nav {
	background: #fff;
	position: fixed;
	bottom: 0;
	height: 65px;
	width: 100%;
	display: flex;
	justify-content: space-around;
}

.bloc-icon {
	display: flex;
	justify-content: center;
	align-items: center;
}

.bloc-icon img {
	width: 30px;
}

@media screen and (min-width: 1000px) {
	.mobile-nav {
		display: none;
	}

	.d-flex {
		display: contents;
	}

	.container-fluid {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.container-fluid .area-perfil {
		overflow: hidden;
		background-color: #fff;
		border-radius: 10px;
	}

	.container-fluid
		.area-perfil
		.informacao-perfil
		.papel-parede-img-perfil
		.perfil-img {
		width: 6rem;
		left: 0.5rem;
		bottom: -2.1rem;
		max-width: 6rem;
		height: 6rem;
		max-height: 6rem;
	}

	.container-fluid .area-perfil .area-nick-nome .nick > h1 {
		font-size: calc(0.1rem + 1.2vw);
	}

	.container-fluid .area-perfil .area-nick-nome .nome > h1 {
		font-size: calc(0.1rem + 1.2vw);
	}
}

@media screen and (min-width: 990px) {
	.container-fluid
		.area-perfil
		.box-perfil
		.box-atividade-eventos
		.box-atividade {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	.container-fluid
		.area-perfil
		.informacao-perfil
		.desc-perfil
		.div-btn-editar-perfil {
		width: 30%;
	}
}

@media screen and (min-width: 790px) {
	.container-fluid
		.area-perfil
		.box-perfil
		.box-atividade-eventos
		.box-eventos {
		display: flex;
		flex-direction: row;
	}

	.container-fluid
		.area-perfil
		.box-perfil
		.box-atividade-eventos
		.box-eventos
		.evento {
		margin-right: 1.8rem;
	}
}

@media screen and (max-width: 1000px) {
	.sidebar {
		display: none;
	}

	.area-sidebar {
		display: none;
	}

	.box-container {
		width: 100%;
	}
}

/*-------------------------- MODAL EDITAR INFORMAÇÕES ---------------------------------------*/

#exampleModal * {
	font-family: 'Roboto';
}

#exampleModal .modal-content {
	padding: 0px 20px 0px 20px !important;
}

#exampleModal .modal-header {
	border: 0 !important;
}

#exampleModal .modal-body .div-img-capa {
	width: 100%;
	position: relative;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

#exampleModal .modal-body .div-img-capa .buttons-mudar {
	display: flex;
	justify-content: flex-end;
	width: 50%;
}

#exampleModal .modal-body .div-img-capa .img-capa {
	width: 100%;
}

#exampleModal .modal-body .div-img-capa .img-perfil-editar {
	position: absolute;
	left: 10px;
	bottom: 30px;
	border: solid;
	border-color: #fff;
	border-width: 2.5px;
	border-radius: 90rem;
	box-shadow: 2px 2px 5px rgb(0 0 0 / 30%);
}

#exampleModal .modal-body .input-group .form-control {
	border: 2px solid #664187 !important;
	border-radius: 10px !important;
}

#exampleModal .modal-body .input-group .form-control:focus {
	border: 2px solid #150a1f !important;
	box-shadow: none;
}

#exampleModal .modal-body label {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	font-size: 14px;

	color: #000000;
}

#exampleModal .modal-body select {
	/*ESTILO DOS INPUTS DE SELECT*/
	background: transparent;
	color: #7c7c8a;
	border-radius: 10px !important;
	border: 2px solid #664187;
	height: 40px !important;
	display: flex !important;
	flex-direction: div-form !important;
	align-items: center !important;
	padding: 10px !important;
	width: 100%;
}

#exampleModal .modal-footer {
	border: 0 !important;
}

#exampleModal .modal-footer button {
	width: 100%;
	background-color: #664187;
	border: 0;
	font-family: 'InterRegular' !important;
}

#exampleModal .modal-footer button:focus {
	border: none !important;
	background-color: #664187 !important;
}

#exampleModal .modal-footer button:hover {
	background-color: #5e3086;
}

[type='file'] {
	height: 0;
	overflow: hidden;
	width: 0;
}

[type='file'] + label {
	background: #664187;
	border: none;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-family: 'InterRegular', sans-serif;
	font-size: inherit;
	font-weight: 500;
	margin-bottom: 1rem;
	outline: none;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	position: relative;
	padding-right: 10px;

	transition: all 0.3s;
	vertical-align: middle;
	margin-left: 10px;
	margin-top: 10px;
}

#exampleModal .mudar-img-parede {
	font-size: 90% !important;
}

#exampleModal .mudar-img-perfil {
	font-size: 90% !important;
}

.mudar-img-parede:hover,
.mudar-img-parede:focus {
	box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
	transform: translateY(-0.3em);
}

.mudar-img-perfil:hover,
.mudar-img-perfil:focus {
	box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
	transform: translateY(-0.3em);
}

.mudar-img-parede {
	background-color: #664187;

	transition: none;
}

/*-------------------------- MODAL CRIAR EVENTO ---------------------------------------*/

#modalCriarEvento .input-group {
	width: 100%;
}

#modalCriarEvento .modal-body .hora {
	display: flex;
	justify-content: space-between;
}

#modalCriarEvento #horario {
	width: 20%;
}

#modalCriarEvento .modal-body label {
	font-family: 'InterBold';
}

#modalCriarEvento .modal-body .hora label {
	display: flex;
	flex-direction: column;
	font-family: 'InterBold';
}

#modalCriarEvento .modal-body .container {
	display: flex;
}

#modalCriarEvento .modal-body .container .lado-esquerdo {
	width: 50%;
	margin-right: 15px;
}

#modalCriarEvento .modal-body .container .lado-direito {
	width: 50%;
	margin-right: 5%;
}

#modalCriarEvento .modal-body .container .input-group input {
	border: 2px solid #664187;
	border-radius: 10px;
	box-shadow: none;
	font-family: 'InterRegular';
}

#modalCriarEvento .preview-img {
	margin-top: 5%;
}

#modalCriarEvento #desc-evento placeholder {
	display: flex;
	flex-direction: s;
}

#modalCriarEvento .modal-body .container .input-group select {
	border: 2px solid #664187;
	border-radius: 10px;
	box-shadow: none;
	width: 100%;
	height: 40px;
}

#modalCriarEvento .footer .btn {
	background-color: #664187;
	color: white;
	border-radius: 12.3967px;
	width: 115px;
}

#modalCriarEvento .footer {
	display: flex;
	justify-content: flex-end;
	margin-right: 5%;
}

#modalCriarEvento .modal-body .container .input-group:focus {
	border: 2px solid #150a1f !important;
	box-shadow: none;
}

#modalCriarEvento
	.modal-body
	> input[type='date']::-webkit-calendar-picker-indicator {
	color: #fff;
	background-color: #007bff;
	border-radius: 50%;
	width: 24px;
	height: 24px;
	margin-left: 5px;
	cursor: pointer;
}

@media (max-width: 992px) {
	#modalCriarEvento .modal-body .container .lado-esquerdo {
		width: 100% !important;
		margin-left: 0 !important;
		margin-right: 0 !important;
	}

	#modalCriarEvento .modal-body .container .lado-direito {
		width: 100% !important;

		margin-right: 5% !important;
	}

	#modalCriarEvento .modal-body .container {
		display: flex !important;
		flex-direction: column !important;
	}
}

/*-------------------------- MODAL-EDITAR-PAPEL DE PAREDE ---------------------------------------*/

#modalEditarPapelParede .modal-body .img-capa {
	width: 100%;
    max-height: 500px;
}

#modalEditarPapelParede .modal-body .btn-mudar-capa {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 10px;
	margin-bottom: 10px;
}

#modalEditarPapelParede .modal-body .btn-mudar-capa button {
	display: flex !important;
	flex-direction: row !important;
	justify-content: center !important;
	align-items: center !important;
	color: #e1e1e6;
	font-weight: 500;
	font-size: 16px;
	height: 43px !important;
	border: 0;
	background: #664187;
	border-radius: 10px !important;
	border-radius: 4px !important;
	text-transform: none !important;
	font-weight: 600 !important;
	transition: 0.25s;
}

#modalEditarPapelParede .modal-body .btn-mudar-capa button:hover {
	background-color: #5c2b86;
}

#modalEditarPapelParede .modal-footer button {
	display: flex !important;
	flex-direction: row !important;
	justify-content: center !important;
	align-items: center !important;
	color: #e1e1e6;
	font-weight: 500;
	font-size: 16px;
	height: 43px !important;
	border: 0;
	background: #664187;
	border-radius: 10px !important;
	border-radius: 4px !important;
	text-transform: none !important;
	font-weight: 600 !important;
	transition: 0.25s;
}

#modalEditarPapelParede .modal-footer button :hover {
	background-color: #5c2b86 !important;
}

#modalEditarPapelParede .modal-body .preview {
	width: 100%;
}

#modalEditarPapelParede .modal-body .preview img {
	width: 100%;
	border-radius: 5px;
	object-fit: cover;
}

#modalEditarPapelParede .modal-header,
.modal-body,
.modal-footer {
	border: 0;
}

#modalEditarPapelParede .modal-footer {
	display: flex;
	justify-content: space-between;
}

/* ------------------------------------- MEODAL FOTO DE PÉRFIL ----------------------------*/

#modalEditarFotoPerfil .modal-body .div-img-usuario {
	width: 100%;
	display: flex;
	justify-content: center;
}

#modalEditarFotoPerfil .modal-body .div-img-usuario .img-usuario {
	width: 30%;
}

#modalEditarFotoPerfil .modal-footer button {
	display: flex !important;
	flex-direction: row !important;
	justify-content: center !important;
	align-items: center !important;
	color: #e1e1e6;
	font-weight: 500;
	font-size: 16px;
	height: 43px !important;
	border: 0;
	background: #664187;
	border-radius: 10px !important;
	border-radius: 4px !important;
	text-transform: none !important;
	font-weight: 600 !important;
	transition: 0.25s;
}


body::-webkit-scrollbar {
	width: 12px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
	background: #ECEBF3;        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
	background-color: #664187;    /* color of the scroll thumb */
	border-radius: 20px;       /* roundness of the scroll thumb */
	border: 3px solid #664187;  /* creates padding around scroll thumb */
  }
  



  /* -------------------------- MODAL SEGUIDORES -------------------------- */

  #seguidoresModal .modal-body .box-comentario {
	width: 100%;
	display: flex;
	margin-bottom: 5px;;
	position: relative;
	
  
  }

  #seguidoresModal .modal-body .box-comentario .imagem-nick {
	display: flex;
	width: 60%;
	
  
  }
  
  #seguidoresModal .modal-body .box-comentario img {
	width: 60px;
	height: 60px;
	border: 2.06796px solid #FFFFFF;
	box-shadow: 0px 5.13592px 5.13592px rgb(0 0 0 / 25%);
	border-radius: 50%;
	
  
  }
  
  
  
  #seguidoresModal .modal-body .box-comentario .conteudo-comentario {
	display: flex;
	  flex-direction: column;
	  justify-content: center;
	  width: 100%;
	
  
  }
  
  #seguidoresModal .modal-body .box-comentario .conteudo-comentario h1 {
	font-family: 'InterBold';
	font-size: 18px;
	margin: 0;
	margin-left: 5px;
	
  
  }
  
  #seguidoresModal .modal-body .box-comentario .conteudo-comentario p {
	font-family: 'InterBold';
	margin-left: 5px;
	margin-top: 0;
	margin-bottom: 0;
	max-height: 100px;
	  overflow-y: auto;
	
  
  }
  #seguidoresModal .modal-body .box-comentario .opcoes {
	display: flex;
	font-size: 20px;
	width: 50%;
	justify-content: flex-end;
	
  
  }

  #seguidoresModal .modal-body .box-comentario .opcoes button{
	background: none;
	border: 0;
	
  
  }

    #seguidoresModal .modal-body .box-comentario  .confirmacao-excluir{
		
		display: flex;
		border: solid;
		border-width: 1px 0px 1px 1px;
		
		left: 441px;
		height: 80px;
		position: absolute;
		background-color: #fff;
		padding: 10px;
		
		border-radius: 5px 5px 0px 5px;
  
  }

     #seguidoresModal .modal-body .box-comentario  .confirmacao-excluir p {
	font-family: 'InterBold';
	margin: 0;
	margin-left: 5px;
  
  }


     #seguidoresModal .modal-body .box-comentario  .confirmacao-excluir
	 .btn-confirmacao-excluir{
	display: flex;
	
    width: 100%;
    justify-content: space-around;
	
  
  }

  
     #seguidoresModal .modal-body .box-comentario  .confirmacao-excluir
	 .btn-confirmacao-excluir button{
	background: none;
	border: 0;
	display: flex;
	align-items: center;
	
	
  
  }

/* 
  .slide-in {
	animation-name: slide-right-to-left;
	animation-duration: 0.3s;
	animation-timing-function: ease-out;
  }
  
  @keyframes slide-right-to-left {
	0% {
	  transform: translateX(15%);
	}
	100% {
	  transform: translateX(0%);
	}
  }
   */



/* ------------------------------------- MEDIA QUERIES ----------------------------*/

@media (max-width: 992px) {
	.buttons-mudar {
		flex-direction: column;
	}

	.buttons-mudar label {
		margin-bottom: 0 !important;
	}
}

@media (max-width: 500px) {
	.area-bio {
		margin-left: 6.5rem !important;
	}

	.desc-perfil {
		margin-left: 6.5rem !important;
	}
}
