@font-face {
  font-family: 'InterBold';
  src: url('../fonts/Inter-Bold.ttf');
}
@font-face {
  font-family: 'InterRegular';
  src: url('../fonts/Inter-Regular.ttf');
}
@font-face {
font-family: 'Poppins';
src: url('../fonts/Poppins-Regular.ttf');
}
a{
text-decoration: none;
}


html{
  overflow-x: hidden;
}
body{
  
  font-family: 'Poppins';
}


.container{
display: flex!important;
}
/*BOOTSTRAP CLASS = A DIV QUE POSSUI ESSA CLASSE TEM UMA PRÉ DEFINICAO
DO BOOTSTRAP DE QUANTAS COLUNAS O FORMULARIO DEVE OCUPAR*/


.container .div-form {
width: 50%;
display: flex;
  justify-content: center;
}

/*IMAGEM DE FUNDO*/

.container .background {
width: 50%;
margin-top: 10%;
}

.container .background img{
width: 100%;
display: flex;
justify-content: center;
align-items: center;
}

.container .background .titulo-background  p{
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 36px;
line-height: 44px;
color: #2C2C2C;
display: flex;
align-items: center;
justify-content: center;
margin: 0;
padding: 1%;
}

.container .background .titulo-background  span{
font-style: normal;
font-weight: 600;
font-size: 36px;
line-height: 44px;
color: #493A8B;
display: flex;
align-items: center;
justify-content: center;
padding: 1%;
}

.container .background .titulo-background{
display: flex;
justify-content: center;
align-items: center;
}

.container .background .conteudo-background  p{
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;
text-align: center;
color: #202024;
padding: 2%;
}

.container .div-form  .registro-login{ 
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 4rem;
  font-family: 'Poppins';

}
.container .div-form  .registro-login h1{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  cursor: pointer;
  transition: color 0.3s ease;
  text-decoration: none;
}

.container .div-form  .registro-login a{
 
  text-decoration: none;
}

.container .div-form  .registro-login h1:hover{
  color: hsl(270, 70%, 40%);
}
.container .div-form  .registro-login .entrar{
  margin-top: 15px;
}
.container .div-form  .registro-login .cadastro{
  border-bottom: 3px solid hsl(270, 70%, 40%);
  padding-bottom: 16px;
  width: 11.8rem;
  text-align: center;
  margin-top: 33px;
}

form .header-form .selecao-tipo-conta .artista-convidado-btns {
  display: flex!important;
  flex-direction: div-form!important;
  justify-content: center!important;
  border: 2px solid #202024;
  border-radius: 25px;
  

}
form .header-form .selecao-tipo-conta{
  display: flex!important;
  flex-direction: div-form!important;
  justify-content: center!important;
  align-items: center!important;
 
}
form .header-form .selecao-tipo-conta .artista-convidado-btns button{ /*ESTILO DO BOTAO DE ARTISTA E VISITANTE*/
  display: flex!important;
  flex-direction: div-form!important;
  justify-content: center!important;
  align-items: center!important;
  color: #202024;
  font-weight: 500!important;
  font-size: 16px;
  height: 43px!important;
  border: 0;
  background: transparent;
  text-transform: none!important;
  
  width: 110px;
}



form .header-form .selecao-tipo-conta .artista-convidado-btns button:hover{
  color: white;
  background-color: #664187;
}
form .header-form .selecao-tipo-conta .artista-convidado-btns button:focus{
  background-color: #664187!important;
  color: white;
}
form .header-form .selecao-tipo-conta .artista-convidado-btns .div-artista-btn .btn-artista{
  border-top-left-radius: 25px!important;
  border-bottom-left-radius: 25px!important;
}
form .header-form .selecao-tipo-conta .artista-convidado-btns .div-visitante-btn  .btn-visitante{
  border-top-right-radius: 25px!important;
  border-bottom-right-radius: 25px!important;
}



.container .div-form  .form-container  { /*SERVE PARA POR BORDER-RADIUS NO FORMULARIO*/
  border-radius: 20px!important;
}

.container .div-form  .form-container{
  background: rgba(236, 235, 243, 0.94)!important;
  box-shadow: 10px 10px 13px rgba(0, 0, 0, 0.25)!important;
  border: 1px solid #b2b2b6!important;
  border-radius: 20px!important;
  width: 100%;
  max-width: 30rem;
  height: 43rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .div-form  .form-container .form-box form{
  width: 18rem;
}



.container .div-form  .form-container .form-box form .span-input{  /*LABEL DE TODOS INPUTS*/
  font-size: 14px;
  font-weight: 600;
  font-family: 'Poppins';
  line-height: 43px;
}




.container .div-form  .form-container .form-box form .header-form{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 300px;
}
.container .div-form  .form-container .form-box form .header-form h5, h1{
position: relative;
  top: 30px;
}
.container .div-form  .form-container .form-box form .header-form h1{
text-align: center;
font-family: 'InterBold';

}

.container .div-form  .form-container .form-box form .header-form .logo-marca-container{

display: flex;
justify-content: center;

}
.container .div-form  .form-container .form-box form .header-form .logo-marca-container .logo-marca{
position: relative;
  top: 30px;
  max-width: 100%;
  height: auto;
}



/*H5 ABAIXO DA LOGOMARCA*/
.container .div-form  .form-container .form-box form .header-form .header-legenda {
  font-size: 1rem!important;
  font-weight: 600!important;
}

/*INPUTS*/

.container .div-form  .form-container .form-box form input{ /*ESTILO DOS INPUTS COMUNS*/
background-color: transparent;
color:  #7C7C8A!important;
border-radius: 10px!important;
height: 48px!important;
display: flex!important;
flex-direction: div-form!important;
align-items: center!important;
border: 2px solid #664187;
background-repeat: no-repeat;
padding: 12px 16px!important;
background-position-y: center;
background-position-x: 15px;
width: 100%;
font-family: 'Poppins';
 font-size: 14px;
  
}

.container .div-form  .form-container .form-box form select{ /*ESTILO DOS INPUTS DE SELECT*/
background: transparent;
color:  #7C7C8A;
border-radius: 10px!important;
border: 2px solid #664187;
height: 48px!important;
display: flex!important;
flex-direction: div-form!important;
align-items: center!important;
padding: 12px 16px!important;
width: 100%;

}
.container .div-form  .form-container .form-box form input:focus{
border: 2px solid #202024;
}

form button{  /*BOTOES DE AVANÇAR, ANTERIOR E ENVIAR*/
  font-weight: 500!important;
  background: #664187;
  border-radius: 10px!important;
  font-size: 16px;
  height: 43px!important;
  color: #E1E1E6;
  width: 120px;
  border: 0;
  transition: color 0.3s ease;
  transition: background-color 0.3s ease;
}

form button:hover{
  background: #7c49ac;
  color: #e2e2e7;
  
}
form #preview-image{ /*PREVIEW DA IMAGEM*/
  height: 200px;
  width: 200px;
  border-radius: 25px;
}


.modal_wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
}

.modal_wrapper .shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0;
  transition: 0.2s ease;
}

.modal_wrapper .success_wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -800px);
  background: var(--white);
  padding: 50px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  transition: 0.5s ease;
}

.modal_wrapper .success_wrap .modal_icon {
  margin-right: 20px;
  width: 50px;
  height: 50px;
  background: var(--primary);
  color: var(--white);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  font-weight: 700;
}

.modal_wrapper.active {
  visibility: visible;
}

.modal_wrapper.active .shadow {
  opacity: 1;
}

.modal_wrapper.active .success_wrap {
  transform: translate(-50%, -50%);
}


/* ---------------------- FORMULARIO DE ETAPAS ----------------------*/


/* Hide all steps by default: */
.tab {
display: none;
}

/* Make circles that indicate the steps of the form: */
.step {
height: 15px;
width: 15px;
margin: 0 2px;
background-color: #bbbbbb;
border: none;
border-radius: 50%;
display: inline-block;
opacity: 0.5;
}

/* Mark the active step: */
.step.active {
opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
background-color: #520892;
}


/* ---------------------- FORMULARIO DE ETAPAS ----------------------*/






/* ---------------------- TEXTO DE INFORMACAO SOBRE AS FOTOS ---------------------- */

.informacao b{
cursor: pointer;
transition: color 0.3s ease ;

}
.informacao p{
font-weight: 500;
}

.informacao b:hover{
color: #664187;
}


#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}


/* --------------------- MODAL ---------------------*/

.modal-overlay {
background-color: rgba(0, 0, 0, 0.342);
width: 100vw;
height: 100vh;
position: fixed;
top: 0;
left: 0;
z-index: 1;
display: none;
align-items: center;
justify-content: center;
overflow-y: auto;
}

.modal {
margin: 16rem 16rem 16rem 16rem;
width: 100%;
max-width: 600px;
height: auto;
min-height: 300px;
background-color: white;
border-radius: 11px;
display: none;
flex-direction: column;
overflow: hidden;
-webkit-animation: scale-in-center 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
animation: scale-in-center 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

@media only screen and (max-width: 600px) {
.modal {
  height: 50%;
  width: 100vw;

}
}

.modal-header {
background-color: rgba(0, 0, 0, 0.041);
padding: 1rem;
text-align: center;
display: flex;
justify-content: center;
font-weight: 600;
font-size: 18px;
}
.modal-content {
padding: 0.5rem 1rem;
flex: 1;
text-align: center;
display: flex;
justify-content: center;
font-size: 15px;
font-weight: 400;
}



@media (max-width: 996px){
.background {
  display: none;
}

.container{
  justify-content: center;
}
}

