.add-tags{
    padding: 10px;
    font-family: 'InterRegular';
}

 span{
    font-family: 'InterBold'!important;
}

.add-tags .tags-existentes h1{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 30px;
    font-family: 'InterBold'!important;
}

.add-tags .input-group button{
   background-color: #664187!important;
   border: 0;
}

.add-tags .input-group button{
    background-color: #664187!important;
    border: 0;
 }

 #mudarTag .modal-footer button {
    width: 100%;
 }

#mudarTag .modal-footer .btn-secondary {
    background-color: #664187!important;
    border: 0;
 }

 
#mudarTag .modal-footer .btn-primary {
    background-color: #6c757d!important;
    border: 0;
 }

#icone img{
    max-width: 24px;
 }





 .preview-img{
    margin-top: 0.5%;
    width: 100%;
  }
  
  #picture__input {
      display: none;
    }
    
    .picture {
      min-width: 340px;
      width: 24%;
      aspect-ratio: 16/9;
      background: #ddd;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #aaa;
      border: 2px dashed currentcolor;
      font-family: sans-serif;
      transition: color 300ms ease-in-out, background 300ms ease-in-out;
      outline: none;
      overflow: hidden;
      border-radius: 20px;
    }
    
    .picture:hover {
      color: #664187;
      background: #ccc;
    }
    
    .picture:active {
      border-color: #664187;
      color: #664187;
      background: #eee;
    }
    
    .picture:focus {
      color: #777;
      background: #ccc;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }
    
    .picture__img {
      max-width: 100%;
    }
    